{% extends 'base.html' %}

{% block title %}Delete Article{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Delete Article</div>
            <div class="panel-body">
                <h4>Are you sure?</h4>
                <form action="{% url 'article_delete' article.pk %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}