{% extends 'base.html' %}

{% block title %}New Article{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">New Article</div>
            <div class="panel-body">
                <form action="{% url 'article_create' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label style="display: block" for="{{ field.name }}">{{ field.label }}</label>
                            {{ field }}
                          </div>
                    {% endfor %}
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}