{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">{{ article.title }}</div>
            <div class="panel-body">
                <p><b>Author:</b> {{ article.author }}</p>
                <p><i>Date: {{ article.created_at }}</i></p>
                <br>
                <br>
                <p>{{ article.text }}</p>

                <div class="line_helper"></div>

                <h3>Rates</h3>
                    {% for rate in article.rates.all %}
                        <span>
                            <b>{{ rate.user }}:</b>
                            {{ rate.get_rate_display }}<br>
                        </span>
                    {% endfor %}

                <div class="line_helper"></div>

                <h3>Comments</h3>

               <p><a class="btn btn-primary" href="{% url 'comment_create' article.pk%}">Add comment</a></p>

                <ul class="comment-list">
                    {% for comment in article.comments.all %}

                        {% if not comment.parent_id.id %}

                            <ul class="comment list-unstyled">
                                {% include "comment.html" %}
                            </ul>

                        {% endif %}
                    {% endfor %}
                </ul>

{#                    <p>{{ comment.text }}</p>#}
{#                    <p>{{ comment.parent_id.id }}</p>#}

            </div>
        </div>
    </div>

{% endblock %}