{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Articles{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Main</a></li>
                <li><a href="{% url 'users_list' %}">Users</a></li>
                <li><a href="{% url 'article_create' %}">New Article</a></li>


                {% with request.resolver_match.view_name as view_name %}
                    {% if view_name == 'article_view' %}
                        <li><a href="{% url 'comment_create' article.pk%}">Add comment</a></li>
                        <li><a href="{% url 'article_update' article.pk %}">Edit Article</a></li>
                        <li><a href="{% url 'article_delete' article.pk %}">Delete Article</a></li>
                    {% endif %}
                {% endwith %}
                {% block menu %}{% endblock %}
            </ul>


            <div class="nav navbar-right">

                <form class="navbar-form navbar-left" action="{% url 'search' %}" method="get" style="margin-top: 10px">
                    <div class="form-group">
                        <input id="search" name="article_title" type="text" class="form-control"
                               placeholder="Поиск">
                    </div>

                    <button class="searchbutton" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>


                </form>

            </div>


        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

</body>
</html>