<li class="comment">
    <div class="comment_text">
       <b>{{ comment.user }}</b>: {{ comment.created_at }}<br>
        {{ comment.text }}<br/>
        <a href="{% url 'comment_update' comment.pk %}">Edit comment</a>
    </div>

    {% if comment.children  %}
        <ul class="list-unstyled">
            {% for comment in comment.children.all %}
                    {% include 'comment.html' %}
            {% endfor %}
        </ul>
    {% endif %}
</li>