{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Articles List</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for a in article_list %}
                            <tr>
                                <td>{{ a.title }}</td>
                                <td>{{ a.author }}</td>
                                <td>
                                    <a href="{% url 'article_view' a.pk %}" class="btn btn-primary">View</a>
                                    <a href="{% url 'article_update' a.pk %}" class="btn btn-warning">Edit</a>
                                    <a href="{% url 'article_delete' a.pk %}" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}
