{% extends 'base.html' %}

{% block title %}Main{% endblock %}

{% block content %}

    <h1></h1>

    <div class="panel panel-primary">
        <div class="panel-heading">Search result by: <span>{{ query_text }}</span></div>
            <div class="panel-body">
                {% if article_lists %}
                    <ul class="list-unstyled search_list">
                        {% for article in article_lists %}
                            <li>
                                <a href="{% url 'article_view' article.pk %}">{{ article.title }}</a><br/>
                                <div class="date">{{ article.created_at }}</div>
                            </li>
                        {% endfor %}
                    </ul>

                {% else %}
                    <p>Не найдено публикаций по вашему запросу<br>Попробуйте повторить запрос с другой формулировкой</p>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}
