{% extends 'base.html' %}

{% block title %}User List{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">Articles List</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    {% for u in user_list %}
                            <tr>
                                <td>{{ u.username }}</td>
                                <td>
                                    <a href="{% url 'user_view' u.pk %}" class="btn btn-primary">View</a>
{#                                    <a href="{% url 'update_employee' e.pk %}" class="btn btn-primary">Edit</a>#}
{#                                    <a href="{% url 'delete_employee' e.pk %}" class="btn btn-danger">Delete</a>#}
                                </td>
                            </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}