{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% block content %}

    <div class="panel panel-primary">
        <div class="panel-heading">{{ user.username }}</div>
            <div class="panel-body">


                <h3>User Articles</h3>
                <ul>
                    {% for a in user.articles.all %}
                       <li><a href="{% url 'article_view' a.pk %}">{{ a.title }}</a></li>
                    {% endfor %}
                </ul>


                <div class="line_helper"></div>
                <h3>User Favorites</h3>
                <ul>
                    {% for a in user.info.favorites.all %}

                        <li><a href="{% url 'article_view' a.pk %}">{{ a.title }}</a></li>

                    {% endfor %}
                </ul>


            </div>
        </div>
    </div>

{% endblock %}